name: Build & Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      gitref:
        description: 'Git ref object (e.g. Tag, Branch, Commit)'

jobs:
  release-windows-x64:
    runs-on: windows-2019

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.gitref || github.ref }}

      - name: Extract version
        id: extract_version
        shell: powershell
        run: |
          $GIT_REF_TAG = ${env:GITHUB_REF} -replace 'refs/tags/',''
          $INPUT_TAG = "${{ github.event.inputs.gitref }}"
          $VERSION = if ($INPUT_TAG) { $INPUT_TAG } else { $GIT_REF_TAG }
          echo GIT_REF_TAG=$GIT_REF_TAG
          echo INPUT_TAG=$INPUT_TAG
          echo VERSION=$VERSION
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Checking if the provided VERSION is valid: git rev-parse --verify $VERSION"
          git rev-parse --verify "$VERSION"

      - name: Package
        shell: powershell
        run: |
          Write-Host ${{ env.VERSION }}
          Write-Host $env::VERSION
          Compress-Archive -Path zextractor.exe,README.md,zextractor.example.conf -DestinationPath zextractor-windows-x64-${{ env.VERSION }}.zip

